<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>
                  <p class="py-6">"Welcome to my online space, where creativity and practicality come together. Explore and discover new opportunities just for you."</p>
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="/assets/myImage.jpg" alt="Your Image" class="w-full rounded-lg shadow-md">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">About Me</h2>
              <p class="text-gray-400">"Hello! I'm Prit Patel, a Computer Programming student at Seneca. Ever since I was young, I've been fascinated by technology and how it shapes our world. This curiosity led me to pursue a degree in computer science, where I am able to dive deep into software development, artificial intelligence, and data science. Throughout my studies, I've had the opportunity to work on a range of projects. My favorite programming languages are Python, Java, and C++, but I'm always eager to learn new ones. In addition to my coursework, I enjoy participating in coding challenges and hackathons, which help me sharpen my problem-solving skills and learn from others. I also make it a point to stay updated with the latest tech trends and advancements. When I'm not coding, I love spending time exploring new technologies and ideas, whether it's through online courses, tech blogs, or forums. I'm passionate about connecting with fellow tech enthusiasts, sharing knowledge, and collaborating on innovative projects. Thank you for visiting my page!"</p>
              <p class="text-gray-400 mt-4">Hobbies: Travelling, gyming, cooking</p>
              <p class="text-gray-400">Course: Computer Programming</p>
              <br>
              
          </div>
      </div>



  <footer class="footer-center mx-4">
      <p class="text-xl">Credits:</p>
      <p class="text-lg "><a href="https://rebrickable.com/">Rebricable: https://rebrickable.com/</a></p>
      <p class="text-lg"><a href="https://lego-a6.cyclic.app/">Lego-Assignment-6: https://lego-a6.cyclic.app/</a></p>
      <p class="text-lg"><a href="https://www.lego.com/en-ca">Lego: https://www.lego.com/en-ca</a></p>
  </footer>
</body>

</html>