<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection - Add Set</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
 
  <%- include('partials/navbar', { page: '/lego/addSet' }) %>

  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
            <div class="max-w-lg">
                <h1 class="text-3xl font-semibold">Add Set</h1>
                <p class="py-2">Use the below form to add a new Lego Set to the collection</p>
            </div>
        </div>
    </div>
  </div>
  <div class="flex justify-center items-center m-4">
    <div class="max-w-3xl w-full">
    <form action="/lego/addSet" method="POST" class="p-4">
        <div class="max-w-3xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Set Name -->
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                <input class="input input-bordered w-full mt-1 h-9" type="text" id="name" name="name" required>
            </div>
            <!-- Year -->
            <div class="mb-4">
                <label for="year" class="block text-sm font-medium text-gray-700">Year:</label>
                <input class="input input-bordered w-full mt-1 h-9" type="number" id="year" name="year" required>
            </div>
            <!-- Number of Parts -->
            <div class="mb-4">
                <label for="num_parts" class="block text-sm font-medium text-gray-700">Number of Parts:</label>
                <input class="input input-bordered w-full mt-1 h-9" type="number" id="num_parts" name="num_parts" required>
            </div>
            <!-- Image URL -->
            <div class="mb-4">
                <label for="img_url" class="block text-sm font-medium text-gray-700">Image URL:</label>
                <input class="input input-bordered w-full mt-1 h-9" type="url" id="img_url" name="img_url" required>
            </div>
            <!-- Theme ID -->
            <div class="mb-4">
                <label for="theme_id" class="block text-sm font-medium text-gray-700">Theme:</label>
                <select id="theme_id" name="theme_id" class="dropdown dropdown-content input input-bordered w-full mt-1 h-9" required>
                    <% themes.forEach(theme => { %>
                    <option value="<%= theme.id %>"><%= theme.name %></option>
                    <% }) %>
                </select>
            </div>
            <!-- Set Number -->
            <div class="mb-6">
                <label for="set_num" class="block text-sm font-medium text-gray-700">Set Number:</label>
                <input class="input input-bordered w-full mt-1 h-9" type="text" id="set_num" name="set_num" required>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="max-w-xs mx-auto">
            <button class="btn btn-primary btn-sm w-full"  type="submit">Add Set</button>
        </div>
    </form>
    </div>
  </div>


</body>

</html>